@mixin commonButton($pad1, $pad2){
    padding: $pad1 $pad2;
    background: none;
    border: 1px solid $color-2;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Poppins;
    font-weight: 500;
    color: $color-4;
    transition: ease-in-out 0.3s;
    cursor: pointer;
    &:hover{
        background-color: $hover-color;
        border: 1px solid $color-4;
        color: $color-4;
    }
}
@mixin inputStyle{
    margin-right: 1rem;
    padding: 0.6rem;
    background: $color-6;
    width: 100%;
    border: 1px solid $color-8;
    border-radius: 5px;
    color: $color-4;
    outline: none;
    transition: ease-in-out 0.3s;
    
    &:focus{
        border: 1px solid $color-4;
    }
}
@mixin commonEffect(){
    display: flex;
    justify-content:center ;
    align-items: center;
    min-height: 100vh;
    padding: 5rem;
    background: linear-gradient(112.1deg,  #081327 11.2%, #081427 70.2%);
}