@import "breakpoints";
@import "colors";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Montserrat:wght@400;500&family=Poppins:wght@400;500&family=Work+Sans:wght@400;500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $color-1;
    font-family: Poppins;
    color: $color-2;
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 1.5rem 1rem 1.5rem;
    border-bottom: 1px solid $color-2;
    h1{
        color: $color-6;
    }
    .navlinks{
        button{
            @include commonButton(0.4rem,0.8rem)
        }
    }
}

.blogDivs{
    display: flex;

    .left{
        display: flex;
        .image{
            img{
                width: 100%;
            }
        }
    }
    .right{
        display: flex;
        .image{
            img{
                width: 100%;
            }
        }
    }
}

.form{
    
    display: flex;
    justify-content: center;
    align-items: center;

    form{
        width: 100%;
        height: 100%;
        border: 1px solid $color-2;
        border-radius: 1rem;
        padding: 1rem;
        margin: 1rem;
        
    }
    
}

.footer{
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
}